[user]
	email = sumitrawatmessijr@gmail.com
	name = sumitrawat10
    token = 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
[credential]
	helper = store
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[init]
	defaultBranch = master
[clean]
	requireForce = false
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
