[user]
	email = sumitrawatmessijr@gmail.com
	name = sumitrawat10
[credential]
	helper = store
[core]
	editor = nvim
	pager = less
	autocrlf = input
[diff]
	tool = nvimdiff
[init]
	defaultBranch = master
[clean]
	requireForce = false
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
